<span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg width="12" height="7" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon--wide icon-chevron-down">
    <path d="M0 .863C0 .693.05.526.142.385A.846.846 0 0 1 .52.068a.824.824 0 0 1 .917.186l4.562 4.668L10.56.254A.84.84 0 0 1 11.157 0a.825.825 0 0 1 .597.252.863.863 0 0 1 .246.61.88.88 0 0 1-.249.61L6.594 6.748A.84.84 0 0 1 5.999 7a.825.825 0 0 1-.595-.252L.246 1.472A.86.86 0 0 1 0 .863Z" fill="#353B7C" style="stroke-width: 0px; fill: #353B7C !important;" />
  </svg>
</span>
