{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="collections">

  {%- if section.settings.title != blank -%}
    <div class="page-width">
      <div class="section-header section-header--small">
        <h3 class="section-header__title h3">
          {% if section.settings.title != blank %}
            {{ section.settings.title }}
          {% endif %}
        </h3>
      </div>
    </div>
  {% endif %}

  {%- if section.blocks.size > 0 -%}
    <div class="carousel page-width collections__carousel">
      {%- for block in section.blocks -%}
        <div class="carousel-cell collections__cell">
          {%- assign collection = collections[block.settings.collection] -%}
          <a href="{{ collection.url }}" class="collections__box">
            <div class="image-wrap collections__box__image-wrap" style="height: 0;">
              {%- if block.settings.image != blank -%}
                {%- render 'image-element',
                  img: block.settings.image,
                  img_width: 400,
                  loading: true
                -%}
              {%- else -%}
                <div class="collections__box__placeholder"></div>
              {%- endif -%}
            </div>
            <div class="collections__box__title">{{ collection.title }}</div>
          </a>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "Collections",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.faq.settings.title.label"
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.blog-posts.settings.divider.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collections",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections"
    }
  ]
}
{% endschema %}
